<!DOCTYPE html>
<html lang="en"
	xmlns:layout="httml://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin}">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
</head>

<body>

	<div class="content" layout:fragment="content">
	<div th:if="${session.message}">
			<script th:inline="text">
				showMessage("[[${session.message.text}]]",
						"[[${session.message.state}]]");
			</script>
			<div th:text="${@session.removeSession()}"></div>
	</div>
		<form action="#" th:action="@{/admin/category}"  th:object="${category}" th:method="POST" enctype="multipart/form-data">
			<h1 th:if="${category.id != null}">CẬP NHẬT DANH MỤC</h1>
			<h1 th:if="${category.id == null}">THÊM MỚI DANH MỤC</h1>
			<div class="form-input">
				<p>Tên danh mục</p>
				<input type="text" th:field="*{name}"/>
			</div>
			<div class="form-input">
				<p>Mô tả</p>
				<input type="text" th:field="*{description}"/>
			</div>
			<div class="form-input">
				<p>Ảnh hiển thị</p>
				<input type="file" name="file"/>
			</div>
			<div class="form-input">
				<p>Danh mục cho</p>
				<select th:field="*{type}">
					<option value="0">Sản phẩm</option>
					<option value="1">Bài viết</option>
				</select>
			</div>
			<div class="form-input">
				<input type="hidden" th:field="*{id}"/>
				<input type="hidden" th:field="*{status}"/>
			</div>
			<div class="form-input button">
				<a th:href="@{/admin/category}" class="cancel" >Quay lại</a> 
				<input  th:if="${category.id == null}"
					type="submit" value="Thêm mới" />
					<input th:unless="${category.id == null}"
					 type="submit" value="Cập nhật" />
			</div>
		</form>
	</div>
</body>

</html>