<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/8deb314de0.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" h:href="@{/css/animation.css}" />
<title>Document</title>
</head>
<body>
	<section class="section-1">
		<div class="header">
			<div class="header-index">
				<div class="header-top">
					<div class="container flex-right">
						<div class="header_div-icon search">
							<form th:action="@{/admin/account/search}" method="get">
								<div>
									<input type="text" placeholder="Nhập từ khóa" name="key">
									<button type="submit">
										<i class="fa-solid fa-magnifying-glass"></i>
									</button>
								</div>
							</form>
						</div>
						<div class="header_div-icon dropdown-hover">
							<i class="fa-solid fa-user"></i> <i
								class="fa-solid fa-caret-down"></i>
							<div class="dropdown-content">
								<a href="#">Đăng ký</a> <a href="#">Đăng nhập</a>
							</div>
						</div>
						<div class="header_div-icon">
							<i class="fa-solid fa-cart-shopping"></i> <span
								class="order-quantity">2</span>
						</div>
					</div>
				</div>
				<div class="header-menu">
					<div class="container">
						<div class="menu">
							<div class="menu-link flex-between">
								<div class="menu-left flex-between menu-nav">
									<div class="link">
										<a th:href="@{/}" class="nav-link">Trang chủ</a>
									</div>
									<div class="link dropdown-hover">
										<i class="fa-solid fa-paw"></i> Sản phẩm <i
											class="fa-solid fa-caret-down"></i>
										<div class="dropdown-content"
											th:each="category: ${categories}">
											<a href="" th:text="${category.name}">Thức ăn cho chó</a>
										</div>
									</div>
									<div class="link">
										<a th:href="@{/service}"><i class="fa-solid fa-paw"></i>Bảng
											giá</a>
									</div>
								</div>
								<div class="menu-center link">
									<a href=""><img
										src="	https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/logo.png?1676276556806"
										class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
										alt=""></a>
								</div>
								<div class="menu-right flex-between menu-nav">
									<div class="link">
										<a th:href="@{/new}" class="nav-link">Tin thú cưng</a>
									</div>
									<div class="link">
										<i class="fa-solid fa-paw"></i> <a th:href="@{/booking}"
											class="nav-link"> Đặt lịch </a>
									</div>
									<div class="link">
										<i class="fa-solid fa-paw"></i> <a th:href="@{/contact}"
											class="nav-link"> Liên hệ </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img
				src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/slider_1.png?1676276556806"
				alt="">
		</div>
		<img src="http://localhost:8080/api/files/images.jpg" alt="">

	</section>

	<section class="section-2">
		<div class="container">
			<div class="title-modul-main">
				<h2>Chào mừng bạn đến với Catchy Pet</h2>
				<span><img
					src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg-title.png?1665454509075"
					alt=""></span>
			</div>
			<div class="catetory-main flex-around"
				th:each="category : ${categories}">
				<div class="category-item">
					<a href="#" class="category-image"><img
						th:src="'/images/'+${category.fileName}" alt=" "></a>
					<div class="category-name">
						<a href="#" th:text="${category.name}"></a>
					</div>
					<div class="category-discription" th:text="${category.description}"></div>
				</div>

			</div>
		</div>
	</section>

	<section class="section-3">
		<section class="section-bestsell">
			<div class="container">
				<div class="title-modul-main">
					<h2>Sản phẩm nổi bật</h2>
				</div>
				<div class="product-seller flex-around">
					<div class="product-item" th:each="product : ${featuredProducts}">
						<div class="product-image">
							<img th:src="'images/'+${product.image}" alt="">
							<div class="product-button">
								<a href="#">Chi tiết</a> <a href="#">Mua ngay</a>
							</div>
						</div>
						<a href="#" class="product-name" th:text="${product.name}"></a>
						<div class="product-price">
							<span class="price"  th:text="${#numbers.formatDecimal(product.sellPrice, 0, 'POINT', 0, 'COMMA')} + 'đ'"></span> <span
								class="price-old" th:text="${#numbers.formatDecimal(product.defaultPrice, 0, 'POINT', 0, 'COMMA')} + 'đ'"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="banner">
				<img
					src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/banner_index.png?1676276556806"
					alt="">
			</div>
			</div>
		</section>
	</section>


	<section class="section-4">
		<div class="container">
			<div class="title-modul-main">
				<h2>Sản phẩm shop đang bán</h2>
				<span><img
					src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg-title.png?1665454509075"
					alt=""></span>
			</div>
			<div class="category-navbar" th:each="category:${categories}">
				<a href="#" th:text="${category.name}"></a>
			</div>
			<div class="flex-around flex-wrap">
				<div class="product-item" th:each="product : ${products}">
					<div class="product-image">
						<img th:src="'images/'+${product.image}" alt="">
						<div class="product-button">
							<a href="#">Chi tiết</a> <a href="#">Mua ngay</a>
						</div>
					</div>
					<a href="#" class="product-name" th:text="${product.name}"></a>
					<div class="product-price">
					<span class="price"  th:text="${#numbers.formatDecimal(product.sellPrice, 0, 'POINT', 0, 'COMMA')} + 'đ'"></span> <span
								class="price-old" th:text="${#numbers.formatDecimal(product.defaultPrice, 0, 'POINT', 0, 'COMMA')} + 'đ'"></span>
					</div>

				</div>
			</div>

			<div class="view-more">
				<a href="#">Xem thêm sản phẩm </a>
			</div>
		</div>
		<div class="img-top">
			<img
				src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg-tab.png?1676276556806"
				alt="">
		</div>
	</section>

	<section class="section-service">
		<div class="container">
			<div class="title-modul-main ">
				<h2>Dịch vụ</h2>
				<span><img
					src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg-title.png?1665454509075"
					alt=""></span>
			</div>

			<div class="flex-around service-container">
				<div class="service-item service-item-left "
					style="background-image: url('https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg_itemsv_1.png?1676276556806'); background-repeat: no-repeat">
					<h6>Chăm sóc thú cưng</h6>
					<ul>
						<li><i class="fa-solid fa-paw"></i> Giúp thú cưng sạch sẽ,
							gọn gàng hơn</li>
						<li><i class="fa-solid fa-paw"></i> Tạo những kiểu tóc sang
							chảnh, ấn tượng</li>
						<li><i class="fa-solid fa-paw"></i> Loại bỏ các mầm mống gây
							bệnh từ lông móng</li>
						<li><i class="fa-solid fa-paw"></i> Thú cưng được massage
							đúng cách, tạo tâm lý vui vẻ, thoải mái</li>
						<li><i class="fa-solid fa-paw"></i> Đảm bảo an toàn cho boss</li>
					</ul>
				</div>
				<div class="service-item">
					<img
						src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/banner_service.png?1676276556806"
						alt="">
				</div>
				<div class="service-item service-item-right"
					style="background-image: url('https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg_itemsv_2.png?1676276556806'); background-repeat: no-repeat;">
					<h6>KIỂM TRA THÚ CƯNG</h6>
					<ul>
						<li><i class="fa-solid fa-paw"></i> Ngăn ngừa và sớm phát
							hiện các bệnh nguy hiểm</li>
						<li><i class="fa-solid fa-paw"></i> Kiểm soát được tình trạng
							mất cân bằng dinh dưỡng</li>
						<li><i class="fa-solid fa-paw"></i> Phát hiện bệnh từ những
							dấu hiệu ban đầu và điều trị dứt điểm</li>
						<li><i class="fa-solid fa-paw"></i> Tiết kiệm chi phí và thời
							gian điều trị cho thú cưng</li>
						<li><i class="fa-solid fa-paw"></i> Phòng ngừa các bệnh lây
							từ thú sang người</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="section-5">
		<div class="container">
			<div class="title-modul-main">
				<h2>Phụ kiện cho thú cưng</h2>
				<span><img
					src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg-title.png?1665454509075"
					alt=""></span>
			</div>
			<div class="accessory-container flex-around flex-wrap">
				<div class="accessory-item flex-evenly"
					th:each="accessory : ${accessoryies}">
					<a href="#"> <img th:src="'images/'+${accessory.image}" alt="">
					</a>
					<div>
						<a href="#" class="accessory-name" th:text="${accessory.name}"></a>
						<div class="accessory-price">
							<span class="price"   th:text="${#numbers.formatDecimal(accessory.sellPrice, 0, 'POINT', 0, 'COMMA')} + 'đ'"></span>
							<span class="price-old" th:text="${#numbers.formatDecimal(accessory.defaultPrice, 0, 'POINT', 0, 'COMMA')} + 'đ'"></span>
						</div>
						<div class="button">
							<a href="#"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
							<a href="#"><i class="fa-solid fa-cart-shopping"></i>Mua ngay</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="view-more">
			<a href="#">Xem thêm phụ kiện </a>
		</div>
		<div class="img-top">
			<img
				src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg-accessories.png?1676276556806"
				alt="">
		</div>


	</section>

	<section class="section-6">
		<div class="container">
			<div class="title-modul-main">
				<h2>Tin thú cưng</h2>
				<span><img
					src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg-title.png?1665454509075"
					alt=""></span>
			</div>
			<div class="post-container flex-evenly">
				<div class="post-item">
					<a href="#"><img class="post-img"
						src="https://bizweb.dktcdn.net/100/432/370/articles/wallpaperflare-com-wallpaper-15.jpg?v=1626767478920"
						alt=""></a>
					<div class="post-content">
						<a href="#" class="post-name">Cách ít người biết để dạy mèo đi
							vệ sinh đúng chỗ</a>
						<p class="post-short-content">Với không ít người nuôi mèo,
							việc dạy cho mèo cách đi vệ sinh đúng chỗ là một chuyện không hề
							dễ, và nếu không chú ý tới vấn đề này ngay từ khi mèo còn nhỏ
							chúng ta sẽ</p>
						<div class="post-detail">
							<span class="post-date"> <i class="fa-solid fa-clock"></i>25/07/2023
							</span> <span class="view-detail"><a href="#">Xem tiếp</a></span>
						</div>
					</div>
				</div>
				<div class="post-item">
					<a href="#"><img class="post-img"
						src="https://bizweb.dktcdn.net/100/432/370/articles/wallpaperflare-com-wallpaper-15.jpg?v=1626767478920"
						alt=""></a>
					<div class="post-content">
						<a href="#" class="post-name">Cách ít người biết để dạy mèo đi
							vệ sinh đúng chỗ</a>
						<p class="post-short-content">Với không ít người nuôi mèo,
							việc dạy cho mèo cách đi vệ sinh đúng chỗ là một chuyện không hề
							dễ, và nếu không chú ý tới vấn đề này ngay từ khi mèo còn nhỏ
							chúng ta sẽ</p>
						<div class="post-detail">
							<span class="post-date"> <i class="fa-solid fa-clock"></i>25/07/2023
							</span> <span class="view-detail"><a href="#">Xem tiếp</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="view-more">
				<a href="#">Xem thêm bài viết</a>
			</div>
		</div>
	</section>
	<section class="section-7">
		<div class="container">
			<div class="trademark-container flex-around">
				<div>
					<img
						src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/brand_1.png?1676276556806"
						alt="">
				</div>
				<div>
					<img
						src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/brand_1.png?1676276556806"
						alt="">
				</div>
				<div>
					<img
						src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/brand_1.png?1676276556806"
						alt="">
				</div>
				<div>
					<img
						src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/brand_1.png?1676276556806"
						alt="">
				</div>
				<div>
					<img
						src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/brand_1.png?1676276556806"
						alt="">
				</div>
				<div>
					<img
						src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/brand_1.png?1676276556806"
						alt="">
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="footer-container"
			style="background-repeat: no-repeat; background-image: url('https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg-footer.png?1676276556806');">
			<a href="#" class="logo"><img
				src="https://bizweb.dktcdn.net/100/432/370/themes/894869/assets/logo-footer.png?1676276556806"
				alt=""></a>
			<div class="nav-bar">
				<a href="#">Trang chủ</a> <a href="#">Sản phẩm</a> <a href="#">Bảng
					giá</a> <a href="#">Tin thú cưng</a> <a href="#">Đặt lịch </a> <a
					href="#">Liên hệ</a>
			</div>
			<div class="contact">
				<a href="#"><i class="fa-brands fa-facebook"></i></a> <a href="#"><i
					class="fa-brands fa-instagram"></i></a> <a href="#"><i
					class="fa-brands fa-twitter"></i></a> <a href="#"><i
					class="fa-brands fa-tiktok"></i></a> <a href="#"><i
					class="fa-brands fa-youtube"></i></a>
			</div>
			<div class="copyright">&copy;Bản quyền thuộc về Cao Hữu Hiếu |
				Cung cấp bởi Cao Hữu Hiếu</div>
		</div>
	</footer>
</body>
</html>