<!DOCTYPE html>
<html lang="en"
xmlns:layout="httml://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/user}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>Document</title>
</head>

<body>
  
    <main class="main" layout:fragment="content">
        <div class="container">
            <div class="newpage">
                <div class="newpage-left">
                    <h4 class="heading">TIN TỨC</h4>
                    <div class="post-container">
                        <div class="post-item">
                            <a href="#"><img class="post-img" src="https://bizweb.dktcdn.net/100/432/370/articles/wallpaperflare-com-wallpaper-15.jpg?v=1626767478920" alt=""></a>
                            <div class="post-content">
                                <a href="#" class="post-name">Cách ít người biết để dạy mèo đi vệ sinh đúng chỗ</a>
                                <p class="post-short-content">Với không ít người nuôi mèo, việc dạy cho mèo cách đi vệ sinh đúng chỗ là một chuyện không hề dễ, và nếu không chú ý tới vấn đề này ngay từ khi mèo còn nhỏ chúng ta sẽ</p>
                                <div class="post-detail">
                                    <span class="post-date"> <i class="fa-solid fa-clock"></i>25/07/2023</span>
                                    <span class="view-detail"><a href="#">Xem tiếp</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <a href="#"><img class="post-img" src="https://bizweb.dktcdn.net/100/432/370/articles/wallpaperflare-com-wallpaper-15.jpg?v=1626767478920" alt=""></a>
                            <div class="post-content">
                                <a href="#" class="post-name">Cách ít người biết để dạy mèo đi vệ sinh đúng chỗ</a>
                                <p class="post-short-content">Với không ít người nuôi mèo, việc dạy cho mèo cách đi vệ sinh đúng chỗ là một chuyện không hề dễ, và nếu không chú ý tới vấn đề này ngay từ khi mèo còn nhỏ chúng ta sẽ</p>
                                <div class="post-detail">
                                    <span class="post-date"> <i class="fa-solid fa-clock"></i>25/07/2023</span>
                                    <span class="view-detail"><a href="#">Xem tiếp</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="newpage-right">
                    <h4 class="heading">BÀI VIẾT NỔI BẬT</h4>
                    <div class="hotnews">
                        <div class="hotnew">
                            <div><img src="https://bizweb.dktcdn.net/100/432/370/articles/wallpaperflare-com-wallpaper-4-1.jpg?v=1626774351077" alt=""></div>
                            <div>
                                <h1>Nguyên nhân khiến chó trở nên hung dữ</h1>
                            </div>
                        </div>
                        <div class="hotnew">
                            <div><img src="https://bizweb.dktcdn.net/100/432/370/articles/wallpaperflare-com-wallpaper-4-1.jpg?v=1626774351077" alt=""></div>
                            <div>
                                <h1>Nguyên nhân khiến chó trở nên hung dữ</h1>
                            </div>
                        </div>
                        <div class="hotnew">
                            <div><img src="https://bizweb.dktcdn.net/100/432/370/articles/wallpaperflare-com-wallpaper-4-1.jpg?v=1626774351077" alt=""></div>
                            <div>
                                <h1>Nguyên nhân khiến chó trở nên hung dữ</h1>
                            </div>
                        </div>
                        <div class="hotnew">
                            <div><img src="https://bizweb.dktcdn.net/100/432/370/articles/wallpaperflare-com-wallpaper-4-1.jpg?v=1626774351077" alt=""></div>
                            <div>
                                <h1>Nguyên nhân khiến chó trở nên hung dữ</h1>
                            </div>
                        </div>
                        <div class="hotnew">
                            <div><img src="https://bizweb.dktcdn.net/100/432/370/articles/wallpaperflare-com-wallpaper-4-1.jpg?v=1626774351077" alt=""></div>
                            <div>
                                <h1>Nguyên nhân khiến chó trở nên hung dữ</h1>
                            </div>
                        </div>
                        <div class="hotnew">
                            <div><img src="https://bizweb.dktcdn.net/100/432/370/articles/wallpaperflare-com-wallpaper-4-1.jpg?v=1626774351077" alt=""></div>
                            <div>
                                <h1>Nguyên nhân khiến chó trở nên hung dữ</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="view-more"><a href="#">Xem thêm bài viết</a></div> -->
            </div>
        </div>
</html>