<!DOCTYPE html>
<html lang="en"

xmlns:layout="httml://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/user}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
   
    <main class="main" layout:fragment="content">
      <div class="container">
        <div class="user-container">
          <div class="user-left">
            <h4>TRANG TÀI KHOẢN</h4>
            <p>
              <strong>Xin chào, <span class="name">Lee Minh Hoo</span>!</strong>
            </p>
            <div class="user-link">
              <a href="#">Thông tin tài khoản</a>
              <a href="#">Đơn hàng của bạn</a>
              <a href="#">Đổi mật khẩu</a>
              <a href="#">Số địa chỉ</a>
            </div>
          </div>
          <div class="user-right">
            <h4>ĐỔI MẬT KHẨU</h4>

            <form action="">
              <div class="form-input">
                <p>Mật khẩu cũ<span>*</span></p>
                <input type="text" placeholder="Số điện thoại" />
              </div>
              <div class="form-input">
                <p>Mật khẩu mới<span>*</span></p>
                <input type="text" placeholder="Email" />
              </div>
              <div class="form-input">
                <p>Xác nhận lại mật khẩu<span>*</span></p>
                <input type="text" placeholder="Mật khẩu" />
              </div>

              <div class="form-input">
                <input type="submit" value="Đặt lại mật khẩu" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
